
<h1 mat-dialog-title>Agregar estudiante</h1>

    <div mat-dialog-content>
        
        <form class="flex flex-column mb-2" [formGroup]="studentForm">
            <mat-form-field appearance="fill">
                <mat-label>Nombre Completo</mat-label>
                <input [formControl]="nameControl" matInput>
              </mat-form-field> 
            
            <mat-form-field appearance="fill">
                <mat-label>Edad</mat-label>
                <input [formControl]="ageControl" matInput>
              </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Nacionalidad</mat-label>
                <input [formControl]="nationalityControl" matInput>
              </mat-form-field>  
        </form>

        <div mat-dialog-actions>
          <button mat-raised-button [mat-dialog-close]="studentForm.value">Aceptar</button>
          <button mat-raised-button (click)="close()" >Cerrar</button>
        </div>

    </div>

  